.ForgotPassword-main{

    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 7rem;
    text-align: center;
    /* flex-direction: column; */
   

}
.ForgotPassword{
    margin-bottom: 7rem;
}

.ForgotPassword-upper{
    width: 22rem;
    height: 12rem;
    padding: 1rem;
    border: 1px solid #ccc;
    
    margin-left: 3rem;
 

    
   
}
.ForgotPassword-bottom{
    width: 22rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-left: 3rem;
    
}
.ForgotPassword-carousel{
    background: url('../../assests//LoginPage.png');
    background-size: cover;
    height: 590px;
    width: 441px;
    position: relative;
   
}
.corousel-images{
    height: 423px;
    width: 241px;
    position: absolute;
    top: 20px;
    left: 146px;
}
@media screen and (max-width:500px) {
    .ForgotPassword-upper{
        width: 100%;
    }

    .ForgotPassword-bottom{
        width: 100%;
    }
}