.signup-main{

    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 8rem;
    text-align: center;
    flex-direction: column;

}

.signup-upper{
    width: 25rem;
    height: 28rem;
    padding: 1rem;
    border: 1px solid #ccc;

    
   
}
.signup-bottom{
    width: 25rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

@media screen and (max-width:500px) {
    .signup-upper{
        width: 100%;
    }

    .signup-bottom{
        width: 100%;
    }
}